*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box {
  background-color: #333;
  padding: 35px;
  height: 100px;
  width: 250px;
  position: fixed;
  left: 51%;
  top: 39%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}
.input-container {
  position: relative;
}
.input-container label {
  position: absolute;
  top: 0%;
  left: 0px;
  font-size: 16px;
  color: #fff;
  transform: all .5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  font-size: 16px;
  color: #fff;
}
h3{
  color: goldenrod;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom:12px solid #3ce4e7;
}
.input-container input:focus ~ label{
  top: -12px;
  font-size: 12px;
}