*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.product-grid{
  display: grid;
  width: 65%;
  margin: 0 auto;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.product-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #333;
}
.product-card h2{
  margin-top: 0;
  text-align: center;
  height: 50px;
  text-overflow: ellipsis;
  padding-bottom: 10%;
}
.product-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
