<!-- <button (click)="show()">Show</button>
<div *ngIf ="displayElement">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure a, molestias quas sapiente doloremque at rem sequi dolorum excepturi nulla magnam unde laudantium rerum qui nesciunt libero sint aliquam quidem.</p>
</div> -->
<button (click)="displayElement = !displayElement">Show</button>
<div *ngIf ="displayElement">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure a, molestias quas sapiente doloremque at rem sequi dolorum excepturi nulla magnam unde laudantium rerum qui nesciunt libero sint aliquam quidem.</p>
</div>