.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 3px solid #3b8d78;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  font-size: 35px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
button {
  border-radius: 5px;
  font-size: 18px;
  border: none;
  color: black;
  background-color: rgb(28, 183, 144);
  margin: 10px 20px;
  padding: 10px 20px;
  cursor: pointer;
}
p{
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  width: 25px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #3b8d78;
}