.updateStyles {
  test-align: center;
  background-color: #333;
  color: goldenrod;
  font-size: 21px;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 5px;
  width: 700px; 
}
.italicText{
  font-style: italic;
}
.letterFormat{
  text-transform: uppercase;
}
input{
  width: 400px;
  height: 40px;
  font-size: 50px;
}
input.txt{
  background-color: rgba(143, 123, 13, 0.279);
}
