.table-container{
  display: flex ;
  justify-content: center;
  margin-top: 30px;
}
table{
  width: 70%;
  text-align: center;
  border-collapse: collapse;
}
td,th{
  padding: 8px;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #ddd;

}