form{
  width: 280px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px 50px 40px;
  box-shadow: 25px;
  font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1{
  text-align: center;
  margin-bottom: 30px;
}
.form-group{
  margin-bottom: 20px;
}
label{
  display: block;
  margin-bottom: 5px;

}
input{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
button{
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 1px 4px 8px 1px rbg(40, 45, 51) 0px 6px 12px -2px, 
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: .3s ease-in-out;
  letter-spacing: 0.3s ease-in-out;
  cursor: pointer;
}
button:hover{
  background-color: #c9c9c9;
  letter-spacing: 0.2em;
}