/* Center everything on the page */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7f6; /* Light grey background for the whole page */
}

/* The dark card container  */
.container {
  background-color: #333333; /* Dark grey/black background */
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  text-align: center;
  width: 450px;
}

/* Style the 'Property Binding' header */
h1 {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

/* Style the input boxes to be thick and white */
.styled-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background-color: rgb(205, 192, 192);
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  box-sizing: border-box; /* Ensures padding doesn't break the width */
}
/* .formal-text {
  color: navy;
  font-weight: bold;
  text-transform: uppercase;
}

.informal-text {
  color: orange;
  font-style: italic;
} */
/* p {
  font-size: 1.5rem;
  
} */
