* {
  font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  padding: 20px;
  background-color: #f7f7f7;
  position: relative;
  transition: all 0.3s ease-in-out;
  }
  .lightMode{
    background-color: #f5f5f5;
    color: #000000;
}
  .darkMode{
    background-color: #2b2b2b;
    color: #ffffff;
  }
  .box{
    width: 40%;
    margin: 0 auto;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    padding: 30px;
    transition: all 0.1s ease;
    margin-bottom: 15px;
  }
button {
  background-color:rgb(81, 89, 80) ;
  position: relative;
  top: -6px;
  color: white;
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  display:block;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color .3s ease;
}
button:hover {
  background-color: #262525;
}
